<div class="container_store_show mt-4">
  <div class="container_store_show_sep">
    <div>
      <h1>Store</h1>
      <p style="color: green"><%= notice %></p>
      <%= render @store %>
    </div>
    <% if @store.image.attached? %>
      <%= image_tag @store.image, class: "container_store_show_img" %>
    <% else %>
      <img class="container_store_show_img" src="<%= asset_path 'chef.jpg' %>"/>
    <% end %>
  </div>
    <div>
      <%= link_to "Edit this store", edit_store_path(@store) %> |
      <%= link_to "Back to stores", stores_path %>
    </div>

    <%= button_to "Destroy this store", @store, method: :delete, class: "btn btn-danger p-1 mb-4 mt-4" %>

  <div>
    <h3>Products</h3>
    <div class="container_store_table">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr class="row">
            <td class="col-1">#</td>
            <td class="col-7">Name</td>
            <td class="col-2">Price</td>
            <td class="col-1">Edit</td>
            <td class="col-1">Delete</td>
          </tr>
        </thead>
        <tbody>
          <% @store.products.kept.each.with_index(1) do |product, index| %>
          <tr class="row">
            <td class="col-1"><%= index %></td>
            <td class="col-7"><%= link_to product.title, store_product_path(product.store, product) %></td>
            <td class="col-2"><%= number_to_currency(product.price, precision: 2) %></td>
            <td class="col-1">
              <%= link_to edit_store_product_path(@store, product), class: "btn btn-warning p-1" do %>
              <img src="<%= asset_path 'edit.png' %>" alt="Edit" class="container_item_icon edit-icon">
              <% end %>
            </td>
            <td class="col-1">
              <%= button_to store_product_path(@store, product), method: :delete, class: "btn btn-danger" do %>
              <%= image_tag("delete.png", alt: "Destroy", class: "container_item_icon destroy-icon") %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <%= link_to "New product", new_store_product_path(store_id: @store.id) %>
      </div>
    </div>
</div>

<style>
  main{
    justify-content: center;
    background-image: url('<%= asset_path 'chef.jpg' %>');
  }

  .container_store_show{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .container_store_show_img {
    width: 250px;
    border-radius: 1rem;
  }

  .container_store_table{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container_item_icon {
    width: 23px;
  }

  @media (min-width:600px){
    .container_store_show{
      width: 800px;
      margin-left: 2rem;
    }

    .container_store_show_sep{
      display: flex;
      justify-content: space-between;
    }

    main{
      justify-content: start;
      }
  }
</style>
