<%= stylesheet_link_tag 'show_model', media: 'all' %>

<div class="container_show mt-4">
  <div class="container_show_sep">
    <div>
      <h1>User</h1>
      <p style="color: green"><%= notice %></p>
      <%= render @user_params_id %>
    </div>
  <img class="container_show_img" src="<%= asset_path 'chef.jpg' %>"/>
  </div>
  <div>
    <%= link_to "Edit this user", edit_user_path(@user_params_id) %>
  </div>
  <div>
    <%= button_to "Destroy this user", user_path(@user_params_id), method: :delete, class: "btn btn-danger p-1 mb-4 mt-4" %>
  </div>
</div>

<style>
  main{
    background-image: url('<%= asset_path 'chef.jpg' %>');
  }

</style>
